@media (max-width:900px) {
    body {
        background-image: url(./images/bg-mobile.png);
        background-position: center;
        background-size: cover;
    }
    
    #card-container {
        justify-content: space-between;
        width: 95vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #logo-container {
        width: 40%;
        height: 40%;
        margin: 10px;
    }
    
    .icon {
        max-width: 40px;
        min-width: min-content;
        max-height: 40px;
        min-height: min-content;
        border-radius: 10px;
    }
    
    #info-container {
        width: 100%;
        height: 40%;
        border-radius: 10px;
        margin: 10px;
    }

    .quote {
        border-radius: 10px;
        width: 150px;
        height: 80px;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .quote::after {
        display: none;
    }
}

@media (max-width:550px) {
    #card-container {
        width: 95vw;
        min-width: 80vw;
        height: 60vh;
    }
    
    #logo-container {
        width: 100%;
        height: 40%;
        margin: 10px;
    }
    
    .icon {
        max-width: 40px;
        min-width: min-content;
        max-height: 40px;
        min-height: min-content;
        border-radius: 10px;
    }
    
    #info-container {
        width: 100%;
        height: 50%;
        border-radius: 10px;
        margin: 10px;
    }

    .quote {
        border-radius: 10px;
        width: 170px;
        height: 80px;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .quote::after {
        display: none;
    }

    .attribution {
        font-size: 12px;
    }
}